{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

<form method="POST" action="register">
    {% csrf_token%}
    <p>username</p>
    <input type="text" name="username">
    <p>email</p>
    <input type="email" name="email">
    <p>password</p>
    <input type="password" name="password">
    <p>confirm password</p>
    <input type="password" name="confirm_password"><br>
    
    {% for message in messages %}
    <h6>{{message}}</h6>
    {% endfor %}
    <input type="submit">
</form>

</body>
</html>
