{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Build House</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
    <a href="{% url "index" %}">Home Page</a>
    </header>

<form method="POST">
    {% csrf_token%}
    <p>Housename</p>
    <input type="text" name="housename"><br> 
    {% for message in messages %}
    <h6>{{message}}</h6>
    {% endfor %}
    <input type="submit">
</form>
</body>
</html>
