{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter House</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>House Tasks</h1>
        <nav>
            <a href="{% url 'index' %}">Home</a>
        </nav>
    </header>
    <main>
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <p>Housename</p>
            <input type="text" name="housename">
            <p>House Id</p>
            <input type="text" name="house_id">
            <input type="submit">
            <a href="request_join">Request to join</a>
        </form>
    </main>
    <footer>
        <p>&copy; 2026 House Tasks. All rights reserved.</p>
    </footer>
</body>
</html>