{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header><div style="display:flex; justify-content: center;"><a href="{%url 'members' house_id %}">Members</a></div></header>
    <center>
    <h1>Welcome to House {{housename}}</h1>
    <h3>Manage Your House Task with your Family Members</h3>
    </center>
    <main>
    <a href="{%url 'cleaning' house_id %}">Cleaning Tasks</a>
    </main>

</body>
</html>