<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
{%load static%}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Request to Join</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>House Tasks</h1>
        <nav>
            <a href="{% url 'enterhouse' %}">Enter House</a>
            <a href="{% url 'buildhouse' %}">Build House</a>
        </nav>
    </header>
    <main>
        {% for message in messages %}
        <h6>{{message}}</h6>
        {% endfor %}
        <form method="POST">
            {% csrf_token %}
            <p>Housename</p>
            <input type="text" name="housename">
            <p>House Id</p>
            <input type="text" name="house_id">
            <input type="submit" value="send">
        </form>
    </main>
    <footer>
        <p>&copy; 2026 House Tasks. All rights reserved.</p>
    </footer>
</body>
</html>