{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>
    <header>
        {% if user.is_authenticated%}
        <li><a href='logout'> LogOut</a></li>
        {%else%}
        <a href='register'> Register</a>
        <a href='login'> LogIn</a>
        {% endif %}
        <center>
            <h1>House Tasks</h1>
        </center>
    </header>

    <main>
        {% if user.is_authenticated%}
        <h3>Hi {{user.username}}</h3>
        {% endif %}
        <br>
        <h2>Welcome to House Tasks</h2>
        <p>Manage and complete the house tasks according to the plans created by you and House members</p>
        <a href="enterhouse">Enter House</a><br>
        <a href="buildhouse">Build House</a>
    </main>

    <footer>
        <p>&copy; 2026 House Tasks. All rights reserved.</p>
    </footer>
</body>

</html>