{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cleaning</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<header>
    <center>
        <h1>Cleaning Task</h1>
    </center>
</header>

<body>
    <div class="messages">
        {% if messages %}
        {% for message in messages%}
        <div class="alert {{ message.tags }}">
            {{message}}
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="task-section">
        <table>
            <form method="POST" action="{% url 'task_action' house_id%}">
                {% csrf_token %}
                <h2>Kitchen</h2>
                Action:
                <select name="task_action" id="task_action">
                    <option value="">------</option>
                    <option value="edit">Edit Task</option>
                    <option value="delete">Delete Task</option>
                    <option value="done">Mark Done</option>
                    <option value="unmark_done">Mark Not Done</option>
                </select>
                <button type="button" name="task" id="task" value="action" onclick="openPopup()">Run Action</button>
                <div class="popup" id="popup">
                    <div class="popup-inner">
                        <h1>Are you sure you want to delete tasks</h1>
                        <button type="submit" name="delete" value="yes" id="yes" onclick="closePopup()">Yes</button>
                        <button type="button" id="no" onclick="closePopup()">No</button>
                    </div>
                </div>
                <tr>
                    <th class="select">Select
                    </th>
                    <th>Tasks</th>
                    <th>Done</th>
                </tr>
                {% for task in tasks %}
                <tr>
                    <td>
                        <input type="checkbox" name="task_action[]">
                    </td>
                    <td>
                        Task Name: {{task.name}}<br>
                        Description: {{task.description}}<br>
                        Date Added: {{task.date}}<br>
                        Added by: {{task.user_added}}
                    </td>
                    <td class="done">
                        {% if task.done %}
                        ✅
                        {% else %}
                        ❌
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </form>
        </table>
    </div>
    <div class="container">
        <div class="form-section">
            <h4>Add Task</h4><br>
            <form method="post">
                {% csrf_token %}
                <p>Task name</p>
                <input type="text" name="task_name">
                <p>Description</p>
                <input type="text" name="description"><br>
                <button type="submit" name="task" value="add">Add Task</button>
        </div>
        <div class="list-section">
            <h4>Assign members</h4><br>
            {% for member in members%}
            <input type="checkbox" name="assigned_members[]" value={{member.id}}>{{member}}<br>
            {% endfor %}
        </div>
        </form>
    </div>
    <section>
        <h2>Contact</h2>
        <p>This is the contact section.</p>
    </section>
    <script>
        let popup = document.getElementById("popup");
        function openPopup() {
            let task_action = document.getElementById("task_action").value;
            let button = document.getElementById("task");
            console.log(task_action);
            if (task_action == "delete") {
                task.type = "button"
                console.log("del")
                popup.classList.add("open-popup")
            }
            else {
                task.type = "submit"
            }
        }
        function closePopup() {
            popup.classList.remove("open-popup")
        }
    </script>
</body>

</html>