{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit task</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <div>
            <a href="{% url 'index'%}">Home</a>
        </div>
    </header>
    <form method="POST" action="{% url 'edit_task' house_id %}" class="edit-task-form">
        {% csrf_token %}
        <div class="edit-task-wrap">
        <table class="edit_task">
            <tr>
                <th colspan="2">Edit Task</th>
            </tr>
            {% for task in tasks %}
            <!-- hidden value for returning task id -->
             <input type="hidden" name="task_id[]" value="{{task.task.id}}">
            <tr>
                <td class="edit_task">
            <tr>
                <td>Name</td>
                <td><input type="text" name="task_name{{task.task.id}}" value="{{task.task.name}}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td>
                    <textarea name="description{{task.task.id}}" class="description-box" rows="6">{{task.task.description}}</textarea>
                </td>
            </tr>

            <tr>
                <td>Members</td>
                <td>
                    <!-- Div class for popup selection of specific loop iteration -->
                    <div class="for-popup">
                        <!-- Popup buttons for add and remove members -->
                        <button type="button" id="add_members" onclick="popup(this , 'add')">Add Members</button>
                        <button type="button" id="remove_members" onclick="popup(this , 'remove')">Remove
                            Members</button>
                        <!-- Assigns id with specific int value for displaying different popups -->
                        <div class="popup-add">
                            <h3>Add members</h3>
                            {% for member in task.not_assigned_members%}
                            <label>
                                <input type="checkbox" name="add_members{{task.task.id}}[]" value="{{member.id}}">{{member}}</option><br>
                            </label>
                            {% endfor %}
                            <button type="button" id="close-popup" onclick="popup(this, 'close-add')">Close</button>
                        </div>
                        <div class="popup-remove">
                            <h3>Remove Members</h3>
                            {% for member in task.task.assigned_members.all %}
                            <label>
                                <input type="checkbox" name="remove_members{{task.task.id}}[]" value="{{member.id}}">{{member}}<br>
                            </label>
                            {% endfor %}
                            <button type="button" onclick="popup(this, 'close-remove')">Close</button>
                        </div>
                    </div>

                </td>
            </tr>
            </td>
            </tr>
            {% endfor %}
            <tr>
            <td colspan="2">
                <div class="edit_buttons">
                <button type="submit" name="save_changes">Save</button>
                <button type="submit" name="cancel_changes" value="{{tasks.0.task_id}}" >Cancel</button>
                </div>
            </td>
            </tr>
        </table>
        </div>
    </form>
    <script>
        const boxes = document.querySelectorAll("textarea.description-box");
        for (const box of boxes) {
            const autoResize = () => {
                box.style.height = "auto";
                box.style.height = box.scrollHeight + "px";
            };
            box.addEventListener("input", autoResize);
            autoResize();
        }

        // For display and remove popup
        function popup(button, type) {
            console.log('openpopup')
            // Selects element of the specific class
            let item = button.closest(".for-popup");

            if (type == "add") {
                let popup = item.querySelector(".popup-add");
                popup.classList.add("open-popup");
            }

            if (type == "close-add") {
                let popup = item.querySelector(".popup-add");
                popup.classList.remove("open-popup");
            }

            if (type == "remove") {
                let popup = item.querySelector(".popup-remove");
                popup.classList.add("open-popup");
            }

            if (type == "close-remove") {
                let popup = item.querySelector(".popup-remove");
                popup.classList.remove("open-popup");
            }

        }
    </script>
</body>

</html>